<!-- Toolbar -->
<md-toolbar>
    <span layout="row" 
        layout-align="space-between center"
        layout-xs="column"
        layout-align-xs="center center">
        <md-button hide-xs class="md-raised" ng-click="backToSelectBoat()">
            <span layout="row" layout-align="center center">    
                <i class="material-icons">
                    keyboard_backspace
                </i>
                <span>Voltar</span>
            </span>
        </md-button>
        <span style="text-align: center">                
            <strong>{{ boat.name }}</strong>
        </span>
        <span></span>
    </span>
</md-toolbar>

<!-- Selected date -->
<span layout="column" layout-align="center center" 
    ng-class="!selectedDate ? 'selected-date-picker': 'date-picker'">
    <strong ng-show="!selectedDate">Selecione o dia do encontro:</strong>
    <md-datepicker ng-model="selectedDate" 
        ng-change="onDateSelect()"
        md-placeholder="01/01/2019" 
        md-open-on-focus>
    </md-datepicker>    
</span>

<!-- Presence -->
<div ng-show="selectedDate">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span>Presença</span>
            <md-button 
                ng-show="selectedDate" 
                ng-click="editMember()" 
                class="md-raised"
                ng-class="(members.length === 0) ? 'md-warn' : ''">
                Adicionar membro
            </md-button>
        </h2>
    </md-toolbar>
    <span ng-show="loadingMembers && selectedDate">
        <br>Carregando...<br>
    </span>
    <span ng-show="members.length === 0">
        <br>Não há membros no seu bote, por favor, adicione-os clicando no botão
        "ADICIONAR MEMBRO" à direita.<br>
    </span>
    <div>
        <div ng-repeat="member in members | orderBy:'name' | filter: {disconnected : '!' + 1}">            
            <md-whiteframe style="padding: 2%;"
                class="md-whiteframe-1dp" 
                layout="row" 
                layout-align="space-between center">
                <span layout layout-align="center center">
                    <md-checkbox style="margin-bottom: 0;"
                        ng-model="member.is_present" 
                        ng-change="setPresenceForMember(member.id, member.is_present)"
                        aria-label="Checkbox">
                    </md-checkbox>
                </span>
                <span style="width: 100%;" 
                    title="{{member.name}}" 
                    alt="{{member.name}}">
                    {{ member.name }}
                </span>
                <span ng-click="editMember(member)" style="cursor: pointer;">
                    <i class="material-icons">settings</i>
                </span>
            </md-whiteframe>
        </div>
    </div>
    <br>

    <!-- Ministration -->
    <div>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Ministração</h2>
            </div>
        </md-toolbar>
        <md-whiteframe style="padding: 2%;"
            class="md-whiteframe-1dp" 
            layout="row">
            <md-input-container class="md-block" flex>
                <label>
                    <span layout="row" ng-show="ministrationState == 'Salvando ministração...'" >
                        {{ ministrationState }} 
                        <md-progress-circular                            
                            md-diameter="20px"
                            md-mode="indeterminate">
                        </md-progress-circular>
                    </span>
                    <span style="color: green";
                        ng-show="ministrationState == 'Ministração salva!'">
                        {{ ministrationState }}
                    </span>
                    <span ng-show="ministrationState == null" >
                        "Descreva como foi a ministração e o(s) versículo(s) chave"
                    </span>
                </label>
                <textarea 
                    ng-model="ministration"
                    ng-model-options="{ debounce: 1000 }"
                    ng-change="saveMinistration(ministration)">
                </textarea>
            </md-input-container>
        </md-whiteframe>
    </div>
    <br>

    <!-- Imagem -->
    <div>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Foto do Encontro</h2>
            </div>
        </md-toolbar>
        <md-whiteframe style="padding: 2%;"
            class="md-whiteframe-1dp" 
            layout="column">
            <input type="file" id="files" width="100%"/>
            <br>
            <output id="image"></output>
        </md-whiteframe>
    </div>

</div>
<br>
<md-button hide-gt-xs 
    class="md-raised" 
    ng-class="!selectedDate ? 'back-bottom' : ''"
    ng-click="backToSelectBoat()">
    <span layout="row" layout-align="space-between center">    
        <i class="material-icons">
            keyboard_backspace
        </i>
        <span>Voltar</span>
    </span>
</md-button>