<md-dialog>
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 ng-if="!selectedMember.id">Criar membro</h2>
          <h2 ng-if="selectedMember.id">Editar membro</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="hideDialog()">
            <span>X</span>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-align="center start">
            <md-input-container class="">
                <label>Nome</label>
                <input ng-model="selectedMember.name">
            </md-input-container>
            <md-input-container class="">
                <label>Telefone</label>
                <input ng-model="selectedMember.phone">
            </md-input-container>
            <md-input-container class="">
                <label>Data de nascimento</label>
                <md-datepicker ng-model="selectedMember.birthday"></md-datepicker>
            </md-input-container>
            <md-input-container class="">           
                <md-switch class="md-primary" 
                    ng-model="selectedMember.isMember">
                    Membro da igreja?
                </md-switch>
            </md-input-container>
            <md-input-container class="">           
                <md-switch class="md-primary" 
                    ng-model="selectedMember.isDiscipleship">
                    Fez discipulado?
                </md-switch>
            </md-input-container>
            <md-input-container class="">           
                <md-switch class="md-primary" 
                    ng-model="selectedMember.hasDepartment">
                    Está em algum departamento?
                </md-switch>
            </md-input-container>
            <md-input-container class="">           
                <md-switch class="md-primary" 
                    ng-model="selectedMember.hasRhema">
                    Fez Rhema?
                </md-switch>
            </md-input-container>
        </div>
      </md-dialog-content>
  
      <md-dialog-actions layout="row">
            <md-button ng-click="hideDialog()">
                Cancelar
            </md-button>
            <span flex></span>
            <md-button ng-disabled="!selectedMember.name" 
                ng-click="registryMember(selectedMember)">
                Registrar
            </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
  
  